  <% content_for :javascript do %>
    <script type="text/javascript">
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Home" });
      });
    </script>
  <% end %>



  <%= render 'shared/flash' %>

  <h1>Codes</h1>

  
  <% @creator_orders.each_with_index do |(creator, array), i| %>

    <% if i % 3 == 0 %><div class="row"><% end %>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h2><%= creator.camelcase %></h2>
          </div>
          <div class="card-body">
            <p class="card-title">Orders: <%= array.length %></p>
            <p class="card-text">Totalling <%= creator_orders_value(creator) %> in Revenue</p>
            <%= link_to 'Payout', payout_path(creator), { :class => 'btn btn-secondary', :remote => true} %>
          </div>
        </div>
      </div>
    <% if i % 3 == 2 %></div><% end %>
  <% end %>


