<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @variant.quantity %>
</p>

<p>
  <strong>Inventory item:</strong>
  <%= @variant.inventory_item_id %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @variant.variant_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @variant.title %>
</p>

<p>
  <strong>Product:</strong>
  <%= @variant.product %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
